@page "/"
@using System.Text
@using System.Web
@using NDScript;
@using Task = System.Threading.Tasks.Task
@inject IJSRuntime JS

<PageTitle>NDScript sandbox</PageTitle>


<h3>Program</h3>

<div id="codeEditor" class="language-ndscript">// Enter program here.

</div>

<script type="module">
    import { CodeJar } from 'https://cdn.jsdelivr.net/npm/codejar@3.3.0/codejar.min.js';
    import { withLineNumbers } from 'https://cdn.jsdelivr.net/npm/codejar@3.3.0/linenumbers.min.js';

    const highlight = editor => {
      // highlight.js does not trims old tags,
      // let's do it by this hack.
      editor.textContent = editor.textContent;
      delete editor.dataset.highlighted;
      hljs.highlightElement(editor);
    };

    const editor = document.querySelector(".language-ndscript");
    const jar = CodeJar(editor, withLineNumbers(highlight));

    // Put jar someplace the non-module scripts can find it.
    window.jar = jar;

    let dirty = false;

    window.addEventListener('message', function(event) {
        if (event.source == window.opener)
        {
            jar.updateCode(DotNet.invokeMethod('NDScriptSandboxDotNet9', 'SetSource', event.data));
            //jar.updateCode(event.data);
            dirty = false;
        } else
            console.log("wrong message sender");
    } );

    window.addEventListener("beforeunload", function (event) {
        if (dirty) {
            event.preventDefault();
            event.returnValue = '';
        }
    });

    document.getElementById('downloadButton').addEventListener('click', function() {
        // Create a Blob object with the content
        const blob = new Blob([jar.toString()], { type: "text/plain" });

        // Create a temporary anchor element
        const a = document.createElement("a");
        a.href = URL.createObjectURL(blob);
        a.download = "Saved.step"; // Set the file name

        // Append the anchor to the document, trigger the download, and remove it
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    });

    if (window.opener != null)
        window.opener.postMessage("_ready_", "*");
</script>

<script>
    function GetUserCode() {
        return jar.toString();
    }
</script>

@* <textarea @bind="@source" id="sourceCode" style="width: 800px; height: 400px;" spellcheck="false"/> *@
<br>
<button class="btn btn-primary" id="downloadButton">Download program</button>

<button class="btn btn-primary" @onclick="Run">Run</button>

@code {
    private string outputHeading = "No output";
    private MarkupString output = (MarkupString)"";

    private async void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            StateHasChanged();
            await Task.Delay(1);
            Run();
        }
    }

    [JSInvokable]
    public static string SetSource(string sourceCode)
    {
        return sourceCode;
    }

    private async void Run()
    {
        Printing.HtmlOutput = true;
        try
        {
            output = (MarkupString)NDScript.ProgramOutput(await JS.InvokeAsync<string>("GetUserCode"));
            outputHeading = "Output";
        }
        catch (ExecutionException e)
        {
            outputHeading = $"Error at line {e.AstNode.SourceLine}";
            if (e.Stack == null)
                output = output = (MarkupString)$"<div style=\"color: orange\">{e.InnerException!.Message}</div>";
            else
            {
                var b = new StringBuilder();
                for (var frame = e.Stack; frame != null; frame = frame.Parent)
                {
                    b.Append("<li> <b>");
                    b.Append(frame.Function.Name);
                    b.Append("</b>");
                    b.Append('(');
                    var first = true;
                    foreach (var a in frame.Arguments)
                    {
                        if (first)
                            first = false;
                        else
                            b.Append(", ");
                        b.Append(HttpUtility.HtmlEncode(Printing.Format(a, true)));
                    }

                    b.AppendLine(")");
                }
                var stack = string.Join('\n', e.Stack?.ToString()
                    .Split('n', StringSplitOptions.RemoveEmptyEntries)
                    .Select(f => $"<li> {HttpUtility.HtmlEncode(f)} ") ?? Array.Empty<string>());
                output = (MarkupString)$"<div style=\"color: orange\">{e.InnerException!.Message}</div><b>Call stack:</b><ul>{b}</ul>";
            }
        }
        catch (Sprache.ParseException e)
        {
            var message = e.Message.Replace("Parsing failure:", "");
            output = (MarkupString)$"<b>Line {e.Position.Line}:</b><i>{Printing.Htmlify(message)}</i";
            outputHeading = "Syntax error";
        }
        catch (Exception e)
        {
            output = (MarkupString)Printing.Htmlify(e.Message);
            outputHeading = "Error";
        }

        StateHasChanged();
    }



    private static Home singleton = null!;
    protected override void OnInitialized()
    {
        singleton = this;
    }
}
<p></p>
<h3>@outputHeading</h3>

@output